<p>Your user has been created, please confirm by clicking on the link below: </p>
<p><%= link_to 'Confirm', @confirmation_link %></p>
<p>After your confirmation, you can access using the token:</p>
<p>token: <%= @token%></p>